{% extends "_base.html" %}
{% block main %}
  <h1>/b/</h1>
  {% with "Tell" as form_action_name %}
    {% include "blog/forms/post.html" %}
  {% endwith %}
  {% for post in object_list %}
    <article class="post">
      <span class="date">{{ post.created_at }}</span>
      <span class="content">{{ post.content }}</span>
      <span class="views">{% if post.edited %}✏️&nbsp;{% endif %}👁&nbsp;{{ post.nr_views }}</span>
      <span class="likes">💛&nbsp;{{ post.nr_likes }}</span>
    </article>
  {% endfor %}
  <form method="post" action="/b/wipe/">
    {% csrf_token %}
    <div class="post-form-controls">
      <button type="submit">Wipe</button>
    </div>
  </form>
{% endblock %}
